.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: aqua;
}

.body {
  background-color: bisque;
  flex-grow: 1;
}

.footer {
  background-color: blueviolet;
  margin-top: auto;
}
